/* Fix Chrome autofill so it doesn't tint inputs / change colors */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: #e2e8f0 !important;
  transition: background-color 999999s ease-in-out 0s !important;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset !important;
  box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset !important;
  caret-color: #f0abfc !important;
}
